.content-fourth {
  margin-left: 10vw;
  font-size: 0.1em;
}

.content-fourth .content {
  height: 300px;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ffd632;
  border-radius: 10px;
  border: 2px solid #650ba4;
  margin-right: 10vw; /* Ajuste da margem direita */
}
.content-fourth .content .text-one {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #650ba4;
  font-size: 20px;
  text-align: left;
}

.content-fourth .content .text-two {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 11px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 2px;
  color: #650ba4;
}

.content-fourth .content .text-three {
  font-family: "Montserrat", sans-serif;
  font-size: 11px;
  text-align: left;
  margin-left: 2vw;
  color: #650ba4;
}

.content-fourth .content .text-four {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 11px;
  margin-top: 5px;
  text-align: left;
  margin-bottom: 2px;
  color: #650ba4;
}

.content-fourth .content .text-five {
  margin-left: 2vw;
  color: #650ba4;
  width: 75.5vw;
  display: flex;
  flex-direction: row;
}
.content-fourth .content .text-five .texts {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  text-align: left;
  width: 45vw;
  margin-left: 0;
}
.content-fourth .content .img img,
.content-fourth .content .img2 img,
.content-fourth .content .img3 img,
.content-fourth .content .img4 img,
.content-fourth .content .img5 img,
.content-fourth .content .img6 img,
.content-fourth .content .img7 img,
.content-fourth .content .img8 img,
.content-fourth .content .img9 img {
  width: 40vw;
  height: 169px;
  border-bottom-right-radius: 10px;
}
.content-fourth .content .img,
.content-fourth .content .img2,
.content-fourth .content .img3,
.content-fourth .content .img4,
.content-fourth .content .img5,
.content-fourth .content .img6,
.content-fourth .content .img7,
.content-fourth .content .img8,
.content-fourth .content .img9 {
  width: 40vw;
  margin-left: -10vw;
  border-bottom-right-radius: 10px;
}
.content-fourth .content .img2 {
  margin-top: 77px;
}
.content-fourth .content .img3 {
  margin-top: 14px;
}
.content-fourth .content .img4 {
  margin-top: -23px;
}
.content-fourth .content .img5 {
  margin-top: -38px;
}
.content-fourth .content .img6 {
  margin-top: 74px;
}

@media screen and (min-width: 372px) {
  .content-fourth .content .img4 {
    margin-top: -9px;
  }
  .content-fourth .content .img5 {
    margin-top: -23px;
  }
}
@media screen and (min-width: 376px) {
  .content-fourth .content .img4 {
    margin-top: 14.5px;
  }
}

@media screen and (min-width: 384px) {
  .content-fourth .content .img5 {
    margin-top: -10px;
  }
}

@media screen and (min-width: 384px) {
  .content-fourth .content .img5 {
    margin-top: 14px;
  }
}

@media screen and (min-width: 400px) {
  .content-fourth .content .img img {
    margin-top: 14px;
  }
}
@media screen and (min-width: 450px) {
  .content-fourth .content .img,
  .content-fourth .content .img2,
  .content-fourth .content .img3,
  .content-fourth .content .img4,
  .content-fourth .content .img5,
  .content-fourth .content .img6,
  .content-fourth .content .img7,
  .content-fourth .content .img8,
  .content-fourth .content .img9 {
    padding-left: 0.4vw;
  }
}

@media screen and (min-width: 482px) {
  .content-fourth .content .img6 img {
    margin-top: 24px;
  }
}

@media screen and (min-width: 700px) {
  .content-fourth .content {
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 30px;
    margin-right: 10vw; /* Ajuste da margem direita */
  }
  .content-fourth .content .text-one {
    font-size: 4vw;
  }

  .content-fourth .content .text-two {
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 4px;
  }

  .content-fourth .content .text-three {
    font-size: 20px;
  }

  .content-fourth .content .text-four {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 4px;
  }

  .content-fourth .content .text-five {
    width: 75vw;
    display: flex;
    flex-direction: row;
  }

  .content-fourth .content .text-five .texts {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
  }
  .content-fourth .content .img,
  .content-fourth .content .img2,
  .content-fourth .content .img3,
  .content-fourth .content .img4,
  .content-fourth .content .img5,
  .content-fourth .content .img6,
  .content-fourth .content .img7,
  .content-fourth .content .img8,
  .content-fourth .content .img9 {
    height: 300px;
    padding-left: 0.4vw;
  }
  .content-fourth .content .img img,
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img,
  .content-fourth .content .img6 img,
  .content-fourth .content .img7 img,
  .content-fourth .content .img8 img,
  .content-fourth .content .img9 img {
    height: 300px;
    border-bottom-right-radius: 30px;
  }

  .content-fourth .content .img {
    margin-top: -44px;
  }
  .content-fourth .content .img2 {
    margin-top: 105px;
  }
  .content-fourth .content .img6 {
    margin-top: 118px;
  }
  .content-fourth .content .img3,
  .content-fourth .content .img4,
  .content-fourth .content .img5 {
    margin-top: -6px;
  }
}

@media screen and (min-width: 722px) {
  .content-fourth .content .img img {
    margin-top: 37px;
  }
  .content-fourth .content .img2 img {
    margin-top: -2px;
  }
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -1px;
  }
  .content-fourth .content .img6 {
    margin-top: 117px;
  }
}

@media screen and (min-width: 750px) {
  .content-fourth .content .img img {
    margin-top: 35px;
  }
  .content-fourth .content .img2 img {
    margin-top: -3px;
  }
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -3px;
  }
  .content-fourth .content .img6 {
    margin-top: 115px;
  }
}
@media screen and (min-width: 800px) {
  .content-fourth .content .img,
  .content-fourth .content .img2,
  .content-fourth .content .img3,
  .content-fourth .content .img4,
  .content-fourth .content .img5,
  .content-fourth .content .img6,
  .content-fourth .content .img7,
  .content-fourth .content .img8,
  .content-fourth .content .img9 {
    padding-left: 0.5vw;
  }
  .content-fourth .content .img img {
    margin-top: 33px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -5px;
  }
  .content-fourth .content .img6 {
    margin-top: 113px;
  }
}
@media screen and (min-width: 850px) {
  .content-fourth .content .img img {
    margin-top: 30px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -8px;
  }
  .content-fourth .content .img6 {
    margin-top: 110px;
  }
}
@media screen and (min-width: 900px) {
  .content-fourth .content .img img {
    margin-top: 28px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -10.5px;
  }
  .content-fourth .content .img6 {
    margin-top: 108px;
  }
}
@media screen and (min-width: 950px) {
  .content-fourth .content .img,
  .content-fourth .content .img2,
  .content-fourth .content .img3,
  .content-fourth .content .img4,
  .content-fourth .content .img5,
  .content-fourth .content .img6,
  .content-fourth .content .img7,
  .content-fourth .content .img8,
  .content-fourth .content .img9 {
    padding-left: 0.6vw;
  }
  .content-fourth .content .img img {
    margin-top: 25px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -13px;
  }
  .content-fourth .content .img6 {
    margin-top: 105px;
  }
}
@media screen and (min-width: 1000px) {
  .content-fourth .content .img img {
    margin-top: 23px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -15px;
  }
  .content-fourth .content .img6 {
    margin-top: 103px;
  }
}
@media screen and (min-width: 1050px) {
  .content-fourth .content .img img {
    margin-top: 20px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -18px;
  }
  .content-fourth .content .img6 {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1100px) {
  .content-fourth .content .img img {
    margin-top: 18px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -20px;
  }
  .content-fourth .content .img6 {
    margin-top: 98px;
  }
}
@media screen and (min-width: 1150px) {
  .content-fourth .content .img,
  .content-fourth .content .img2,
  .content-fourth .content .img3,
  .content-fourth .content .img4,
  .content-fourth .content .img5,
  .content-fourth .content .img6,
  .content-fourth .content .img7,
  .content-fourth .content .img8,
  .content-fourth .content .img9 {
    padding-left: 0.7vw;
  }
  .content-fourth .content .img img {
    margin-top: 16px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -23px;
  }
  .content-fourth .content .img6 {
    margin-top: 95px;
  }
}
@media screen and (min-width: 1200px) {
  .content-fourth .content .img img {
    margin-top: 14px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -24px;
  }
  .content-fourth .content .img6 {
    margin-top: 94px;
  }
}
@media screen and (min-width: 1250px) {
  .content-fourth .content .img img {
    margin-top: 11px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -27px;
  }
  .content-fourth .content .img6 {
    margin-top: 91px;
  }
}
@media screen and (min-width: 1300px) {
  .content-fourth .content .img img {
    margin-top: 9px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -29px;
  }
  .content-fourth .content .img6 {
    margin-top: 89px;
  }
}
@media screen and (min-width: 1350px) {
  .content-fourth .content .img img {
    margin-top: 6px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -32px;
  }
  .content-fourth .content .img6 {
    margin-top: 86px;
  }
}
@media screen and (min-width: 1400px) {
  .content-fourth .content .img img {
    margin-top: 3px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -35px;
  }
  .content-fourth .content .img6 {
    margin-top: 84px;
  }
}
@media screen and (min-width: 1450px) {
  .content-fourth .content .img img {
    margin-top: 0;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -38px;
  }
  .content-fourth .content .img6 {
    margin-top: 81px;
  }
}
@media screen and (min-width: 1500px) {
  .content-fourth .content .img,
  .content-fourth .content .img2,
  .content-fourth .content .img3,
  .content-fourth .content .img4,
  .content-fourth .content .img5,
  .content-fourth .content .img6,
  .content-fourth .content .img7,
  .content-fourth .content .img8,
  .content-fourth .content .img9 {
    padding-left: 0.75vw;
  }
  .content-fourth .content .img img {
    margin-top: -2px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -40px;
  }
  .content-fourth .content .img6 {
    margin-top: 79px;
  }
}
@media screen and (min-width: 1550px) {
  .content-fourth .content .img img {
    margin-top: -4px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -42px;
  }
  .content-fourth .content .img6 {
    margin-top: 76px;
  }
}
@media screen and (min-width: 1600px) {
  .content-fourth .content .img img {
    margin-top: -7px;
  }
  .content-fourth .content .img2 img,
  .content-fourth .content .img3 img,
  .content-fourth .content .img4 img,
  .content-fourth .content .img5 img {
    margin-top: -45px;
  }
  .content-fourth .content .img6 {
    margin-top: 74px;
  }
}
