#home {
  margin-top: 57.8x;

  padding: 0.2em 2em;
}

#home .content-two .column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home .content-two .column div {
  width: 300px;
  text-align: left;
  color: #650BA4
}
